/* Define styles */
:root {
    /* CSS HEX */
    --backgound-dark: #051622;
    --primary-color: #DEB992;
    --accent-color: #1BA098;

    --cal-poly-green: #26532bff;
    --shamrock-green: #399e5aff;
    --honeydew: #dff8ebff;
    --raisin-black: #2d232eff;
    --wenge: #534b52ff;
}


/* General styles for the web page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--backgound-dark);
}

/* Flexbox styles for the navigation bar */
.flexbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center items */
    padding: 1em 3em;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1000;
    
    /* Color for the navigation bar */
    color: var(--accent-color);
    font-size: 1.5em;
    font-weight: bold;
    
    /* Background color for the navigation bar */
    background-color: transparent
}
.flexbar-menu {
    display: flex;
    gap: 3em; /* Space between menu items */

    list-style-type: none; /* Remove default list styling */
}
.flexbar-nav {
    display: flex;
    gap: 1em; /* Space between navigation items */

    color: var(--accent-color);
}

body {
    margin: 2em;
    
    font-family: sans-serif;

    background-color: transparent;
}
h1 {
    background-color: transparent;
}
a {
    background-color: transparent;
    text-decoration: none;
}